.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 45px;
}

.searchbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(140, 115, 179);
  width: 100vw;
  position: fixed;
  top: 0;
}

.searchbar {
  font-size: 18px;
  margin: 10px;
  width: 250px;
}

.pokemonlist-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 250px;
  background-color: rgb(241, 239, 236);
  border: 3px solid rgb(140, 115, 179);
  border-radius: 5px;
  margin: 25px;
}

.sprite-image {
  width: 200px;
}
