.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 65px;
}

.searchbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(140, 115, 179);
  width: 100vw;
  position: fixed;
  top: 0;
}

.searchbar {
  font-size: 20px;
  margin: 10px;
  width: 250px;
  padding: 7.5px;
  border-radius: 5px;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 143, 162);
  font-size: 20px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(255, 166, 181);
  cursor: pointer;
}

.btn-shiny {
  background-color: rgb(255, 166, 181);
}

.btn-shiny:hover {
  background-color: rgb(255, 143, 162);
  cursor: pointer;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 300px;
  background-color: rgb(241, 239, 236);
  border: 3px solid rgb(140, 115, 179);
  border-radius: 5px;
  margin: 25px;
}

.pokemon-name {
  font-size: 1.5rem;
}
.sprite-image {
  width: 225px;
}
